body {
    background-image: url("./assets/pawprintBackground.jpg");
    background-size: auto;
    font-family: "Playfair Display", serif;
}

header {
    padding: 10px;
    color: rgb(172, 15, 101);
    font-weight: bolder;
    font-size: larger;
    background-color: antiquewhite;
    text-align: center;
}

.pic {
    padding: 25px;
    border: double;
    
}

main {
    color: rgb(52, 117, 238);
}

.container {
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    padding: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.item4 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item6 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.image {
    padding: 10px;
    
}

.picture {
    padding: 10px;
    
}

.dogPic {
    padding: 10px;
    
}

input {
    padding: 10px;
}

.input {
    background-color: rgb(243, 231, 120);
    border: double;
    font-weight: bold;
    font-size: large;
}

footer {
    padding: 10px;
    font-weight: bolder;
    font-size: medium;
    background-color: rgb(153, 207, 238);
    border: dashed;
}




.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}