body {
    background-image: url("./assets/pawprintBackground.jpg");
    background-size: auto;
    font-family: "Playfair Display", serif;
}

header {
    padding: 10px;
    
}

.container {
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    padding: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.item4 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item6 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.image {
    padding: 10px;
}

.picture {
    padding: 10px;
}

.footer {
    padding: 10px;
}




.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}